@model ProductsAPIProject.Models.ProductsModel

<h2>Edit Product</h2>
<form asp-action="UpdateProducts" method="post">
    <input type="hidden" asp-for="ProductId" />

    <label>Name:</label>
    <input asp-for="ProductName" required />
    
    <label>Description:</label>
    <input asp-for="ProductDescription" required />

    <label>Price:</label>
    <input asp-for="ProductPrice" required />

    <button type="submit">Save</button>
</form>
<a href="@Url.Action("GetAllProducts")">Back</a>
